@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v1/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hjQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v1/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZ9hjQ.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Inter', sans-serif;
}
.container {
  width: 90%;
  max-width: 880px;
  margin: 0 auto;
}
header {
  margin: 2% 0;
}
header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  transition: 0.3s;
  margin-left: 2%;
}
header nav a:hover {
  color: lightgrey;
}
#about {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: #eff4fa;
  padding: 2%;
}
#about .about-image {
  background-image: url(../images/ben-kolde-6c8qrsQN_lY-unsplash.jpg);
  background-size: cover;
  background-color: palevioletred;
  height: 15vh;
  width: 20%;
  margin-bottom: 2%;
}
#about .text-container {
  padding-bottom: 4%;
}
#about .text-container h1 {
  font-size: 3.2rem;
  margin-top: 1%;
}
#about .text-container h6 {
  font-size: 1.4rem;
  margin: 1% 0;
}
#about .text-container p {
  font-size: 1.6rem;
  margin: 2% 0;
  padding: 2% 0;
  border-top: 1px solid lightgrey;
}
#about .text-container a {
  background-color: darkgrey;
  color: white;
  text-decoration: none;
  border-radius: 2px;
  padding: 1.5%;
  font-size: 1.6rem;
  transition: 0.3s;
}
#about .text-container a:hover {
  background-color: lightgrey;
  color: black;
}
#skills {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 3% 0;
}
#skills div.text-container {
  width: 48%;
  font-size: 1.6rem;
}
#skills div.text-container h2 {
  font-size: 2.4rem;
  margin-bottom: 2%;
}
#skills div.text-container p {
  line-height: 1.9rem;
}
#skills div.text-container table {
  width: 100%;
}
#skills div.text-container table td,
#skills div.text-container table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 3%;
}
#work-history h2 {
  font-size: 2.4rem;
  margin-bottom: 2%;
}
#work-history table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.6rem;
  margin-bottom: 2%;
}
#work-history table th {
  font-weight: bold;
}
#work-history table td,
#work-history table th {
  border: 1px solid darkgrey;
  text-align: left;
  padding: 8px;
}
#work-history table tr:nth-child(even) {
  background-color: #dddddd;
}
footer {
  font-size: 1.2rem;
  text-align: center;
}
